<table>
  <tr>
    <th>Id</th>
    <th>Slug</th>
    <th>URL</th>
  </tr>
  <% @links.each do |link| %>
  <tr>
    <td><%= link.id %></td>
    <td><a href="/<%= link.slug %>"><%= link.slug %></a></td>
    <td><a href="<%= link.url %>"><%= link.url %></a></td>
  </tr>
  <% end %>
</table>